<div id="notification-verify">
    <p>Điền email của bạn! Chúng tôi sẽ gửi đường dẫn giúp bạn lấy lại mật khẩu</p>
    <form action="/auth/send-password" method="POST">
        <input type="text" id="email" name="email">
        <input type="submit" value="Gửi">
    </form>
</div>